body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #333;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.4;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* add margin below the table */
    margin-bottom: 50px;
}

th,
td {
    border: 1px solid #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #fafafa;
    /* Subtle zebra-stripping */
}

th {
    background-color: #eee;
}

.hidden {
    display: none;
}

#show-all {
    /* display: block; */
    /* margin-top: 10px;
    margin-bottom: 25px; */
    /* margin-left: auto; */
    border-color: blueviolet;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    /* Set a max-width for large screens */
}

select {
    /* margin-top: 10px; */
    margin-right: 20px;
    /* margin-left: 6px; */
    padding: 3px;
}

button {
    padding: 4px;
    color: blueviolet;
}

select,
button {
    /* margin: 20px 0; */
    border: 1px solid #ddd;
    /* Subtle border */
    background-color: white;
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-bottom: 40px;
    margin-top: 10px;
}

button:hover {
    background-color: #f8f8f8;
    /* Slight change on hover */
}

h1 {
    font-size: 2.3em;
    margin-bottom: 2em;
    color: #007BFF;
    /* A pop of color for the main title */
}

h1 a {
    color: #007BFF;
    text-decoration: none;
}

h2,
h3,
h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
    th,
    td {
        padding: 10px;
        /* Smaller padding on mobile */
    }
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 1em;
    color: #666;
    /* Lighter text for less emphasis */
}

footer a {
    text-decoration: none;
}

/* Add this to your stylesheet */
.logo-container {
    position: relative;
    top: 0;
    right: 0;
    /* padding: 10px; */
    /* Adjust the padding to suit your layout */
}

.logo {
    width: 120px;
    /* Or any size that fits your design */
    height: auto;
}

/* If you're using a flexbox or grid system, your CSS might look like this: */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* other styling */
}

@media screen and (max-width: 768px) {
    .logo-container {
        position: relative;
        /* On smaller screens, make the logo move with the flow of the document */
        display: block;
        text-align: center;
        margin-top: 1em;
    }

    .logo {
        width: 50px;
        /* Smaller logo on mobile devices */
        height: auto;
    }
}

#searchInput {
    background-image: url('/static/search-icon.png'); 
    background-size: 15px 15px;
    background-position: 6px center; 
    background-repeat: no-repeat; 
    padding-left: 25px; 
    padding-top: 4px; 
    padding-bottom: 4px;
    border: 1px solid #ddd;
    margin-right: 20px;
}

.highlight {
    background-color: lightgreen;
}